/* Author - Zongyu Wu */

.courseHome-content {
    position: absolute;
    left: 250px;
    top:60px;
    height: 100%;
    width: 80%;
    float: right;
}
.courseHome-survey {
    margin-top: 10px;
    text-align: center;
}

.course {
    width: 15rem;
    height: 26rem;
    margin: 3%;
    float: left;
}

.course:hover {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}


